
.title{
    color: rgb(84, 68, 68);
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 30px;
    margin-left:10px;
}
body{
    color: aliceblue;
}

th{
    color: rgb(49, 49, 49);
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 50px;
    width: 10%;
    height: 30px;
}
tr{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    width: 10%;
    height: 30px;
}
.container{
    background-color:hsl(0, 0%, 50%);
}
