.form{
    padding: 30px;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    width: 400px;
    background-color: aliceblue;
}
.heading-11{
 color: rgb(0, 0, 0);
 align-items: center;
}