.update{
    padding: 20px;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    width: 400px;
    background-color: aliceblue;
  } 
  .heading-22{
    color: black;
  }